# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/deploy/cred/credentials.txt
/config/bot_config.py
/scripts/deploy/cred/credentials.txt
/scripts/deploy/cred/dockerhub_psw.txt
.cache/
__pycache__/
components/__pycache__/
config/__init__.pyc
config/__pycache__/
handlers/__pycache__/
models/__pycache__/
postgres-data/
services/__init__.pyc
services/__pycache__/
services/user_service.pyc
tests/services/__init__.pyc
tests/services/test_task_service.pyc
tests/services/test_user_service.pyc
utils/__pycache__/
utils/message_parser/__pycache__/
